<body>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text">Contacto</h1>
      <p class="center  blue-grey-text">Ingresa tus datos</p>

    </div>
  </div>
  <div class="container p-3 my-3 border" >
<form >

                <div class="input-field">
                    <i class="material-icons prefix">contacts</i>
                    <label for="costo">Nombre</label>
                    <input type="text" name="costo"   >
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">contact_mail</i>
                    <label for="fecha">Correo</label>
                    <input type="text" >
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">contact_phone</i>
                    <label for="fecha">Telefono</label>
                    <input type="text" >
                </div>
                
                <p class="center-align" style="margin-top: 2rem;">
                    <button class="waves-effect  btn tech" >Solicitar</button>
                </p>

            </form>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-grey-text">Información</h1>

    </div>
  </div>
<div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons icon-tech">trending_up</i></h2>
              <h5 class="center">Misión</h5>
              <p class="light" style="text-align: justify;">Somos la mejor empresa especializada en proveer soluciones y asesoramiento tecnológico, que proporciona tecnologías más innovadoras a medida de las necesidades empresariales, con el objetivo de incrementar su competitividad y productividad.  Impulsados por un equipo de profesionales con talento para obtener la satisfacción de nuestros clientes y socios comerciales.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons icon-tech">visibility</i></h2>
              <h5 class="center">Visión</h5>
              <p class="light" style="text-align: justify;">Ser reconocidos como una empresa con servicios de calidad, excelencia e integralidad a nivel nacional. Ser percibidos como un aliado estratégico, a través de la generación de valor y con un alto nivel de satisfacción de sus clientes, empleados y socios.
                </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons icon-tech">feedback</i></h2>
              <h5 class="center">¿Quiénes somos?</h5>
              <p class="light" style="text-align: justify;">Somos consultoría especializada en el acompañamiento profesional, dando lugar al soporte y apoyo que permita a la empresa sumergirse en el mundo digital. vamos aplicar 
un modelo de asesoría y acompañamiento basado en planes, estrategias y soluciones para micro, pequeñas y medianas empresas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  
     


  <footer class="page-footer tech">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">K-now Tech</h5>
          <p class="grey-text text-lighten-4" style="text-align: justify;">Somos consultoría especializada en el acompañamiento profesional, dando lugar al soporte y apoyo que permita a la empresa sumergirse en el mundo digital. vamos aplicar 
un modelo de asesoría y acompañamiento basado en planes, estrategias y soluciones para micro, pequeñas y medianas empresas.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Información</h5>
          <ul>
            <li><a class="white-text" routerLink="/contacto">Contacto</a></li>
            <li><a class="white-text" href="#!">Tel(+502):77553456 - 77435676</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Concepto</h5>
          <ul>
            <li><a class="white-text" href="#!">La llave de la tecnología al alcance de tus manos </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">K-now Tech Developpers </a>
		  
      </div>
    </div>
  </footer>
    <script >
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });
    var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });
    </script>
</body>