<div class="container" style="margin-top: 5rem;">
    <section>
        <div class="row">
            <h3 class="center-align">Ingreso al sistema</h3>
            <article class="col s6 offset-s3">
                <form method="POST" action="formulario-contacto.php">
                    <div class="input-field">
                        <i class="material-icons prefix">accessibility</i>
                        <label for="username">Nombre de usuario</label>
                        <input type="text" name="usuario" required [(ngModel)]="usuario"
                            [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">https</i>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" required [(ngModel)]="password"
                            [ngModelOptions]="{standalone: true}">
                    </div>

                    <p class="center-align">
                        <button class="waves-effect waves btn tech" (click)="Ingresar()"><i
                                class="material-icons right ">https</i>Ingresar</button>
                    </p>

                </form>

            </article>
        </div>
    </section>
    <a class="button tech" routerLink="/inicio">Inicio</a>
    <a class="button tech" routerLink="/contacto">Contacto</a>
</div>