<div class="container" style="margin-top: 5rem;">
<section >
    <div class="row">
    <h3 class="center-align">Contrato</h3>
        <article class="col s6 offset-s3">
            <form method="POST" action="formulario-contacto.php">

                <div class="input-field">
                    <i class="material-icons prefix">payments</i>
                    <label for="costo">Costo</label>
                    <input type="text" name="costo" required [(ngModel)]="costo" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">event_available</i>
                    <label for="fecha">Fecha</label>
                    <input type="text" class="datepicker" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}">
                </div>

                <select class="form-control" id="cliente">
                    <option value=1>1</option>
                </select>
                
                <p class="center-align">
                    <button class="waves-effect waves-light btn" (click)="Insertar()"><i class="material-icons right">{{icono}}</i>enviar</button>
                </p>

            </form>

        </article>
    </div>
</section>
</div>

<script>
    $(document).ready(function(){
    $('.datepicker').datepicker();
    });
  </script>